* {
    margin: 0;
    padding: 0;
    box-sizing: border-boxii;
}

body {
    width: 100%;
    font-family:  Arial, sans-serif;
}
header, nav, article, div, footer {
    padding: 10px;
    background-color: yellow;
    border: solid gray;
    text-align: center;
}