* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family:  Arial, sans-serif;
}
header {
    color: aliceblue;
    width: 100%;
    padding: 10px;
    background-color: rgb(77, 77, 77);
    border: solid gray;
    text-align: center;
}

nav {
    color: aliceblue;
    width: 20%;
    height: 200;
    float: left;
    padding: 10px;
    background-color: rgb(31, 50, 219);
    border: solid gray;
    text-align: center;
}
article {
    height: 200;
    width: 60%;
    float: left;
    padding: 10px;
    background-color: rgb(228, 244, 255);
    border: solid gray;
    text-align: center;
}
div{
    color: aliceblue;
    height: 200;
    width: 20%;
    float: left;
    padding: 10px;
    background-color: rgb(231, 31, 31);
    border: solid gray;
    text-align: center;
}

footer {
    color: aliceblue;
    width: 100%;
    padding: 10px;
    background-color: rgb(77, 77, 77);
    border: solid gray;
    text-align: center;
    clear:both;
}